nav li:first-child a {
	background-color: transparent;
	color: #000000;
}


.main-container {
  background-image: url("https://vrundabhatt.com/aau/wnm617/initializr/Images/paper.gif");
  background-color: #ffffff;
}


:root {

--font-sans: Montserrat, Roboto, sans-serif;

}


p {
	font-family: roboto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	text-transform: uppercase;
	
}


.header-container {
	background-color: #fff;
	border-bottom: 0;
	background-image: linear-gradient(to right, #B7F8DB, #50A7C2);

}

.footer-container {
	background-color: #fff;
	border-top: 0 solid #e2e2e2;
	background-image: linear-gradient(to right, #B7F8DB, #50A7C2);
	 color: #000;
}

.footer-h3{
	color: #000;
}


.main-container aside {
	background-color: #fff;
	color: #000;
	border-top: 0 solid #e2e2e2;
	background-image: linear-gradient(to right, #B7F8DB, #50A7C2);
	position: relative;
  animation: mymove 5s infinite;
}

@keyframes mymove {
  from {left: 0px;}
  to {left: 200px;}
} 


nav a {
	background-color: transparent;
	color: #000000;
}



.title {
	color: #000;
    position: relative;
  animation: mymove 5s infinite;
}

@keyframes mymove {
  from {left: 0px;}
  to {left: 200px;}
} 





