/* CSS RESET */


*,*::after,*::before {
  box-sizing: border-box;
}

:root{
  --font-heading: 'Lato', sans-serif;
  --font-body: 'Lato', sans-serif;
 
   --color-brightgreen: #E6EDEE;
   --color-lightgreen: #73C0C7;
   --color-darkgreen: #00737A;

   --color-black:#212121;
   --color-white:#fff;
   --color-grey:#8B8B8B;
  --color-error:#D90504;




   --title-height: 3rem;
   --body-height: 2rem;
}


body {
  margin:0;
  font-size:100%;
  font-family: var(--font-body);
  background-color: #F3F2F7;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family:var(--font-serif);
}



/* Layout Classes */

.hidden { display: none; }

.display-flex { display: flex; }
.display-block { display: block; }
.display-inline-flex { display: inline-flex; }
.display-inline-block { display: inline-block; }

.flex-strech { flex: 1 1 auto; }
.flex-auto { flex: auto; }
.flex-none { flex: none; }


.flex-align-start { align-items:start;}
.flex-align-center { align-items:center;}
.flex-align-flex-end { align-items:flex-end;}
.flex-justify-center { justify-content:center;}
.flex-justify-around { justify-content:space-around;}
.flex-justify-end {justify-content: flex-end;}

.flex-column { flex-direction: column;}

.display-flex h2{
  margin bottom: 3em;
}


/*  Card and logo */

.logo {
  display: block;
  margin-top: 4em;
  margin-left: auto;
  margin-right: auto;
  width:75%;
  position: relative;
}

.card {
  box-sizing: border-box;
  height: auto;
  width: 348px;
  border: 1px solid rgba(32,53,128,0.16);
  border-radius: 10px; 
  background-color: #FFFFFF;
}


/* map card */

.icon{
  margin-left: 80%;
  position: absolute;
}


a {
   text-decoration: none;  
}

a:hover {
   text-decoration:underline;
}

/* Signin Signup */

#signin-page [data-role='main'],
#signup-page [data-role='main']{
  background-image: url(../images/dgback.png);
  background-position: center;
  background-size: cover;
}

#signin-page ,
#signup-page {
  height: 100%; 
    width:100%;
    padding: 0 0em;
   }

#signup-form{
  padding-top: 50%;
}

#signin-form{
  margin-top: 0%;
}

#signin-form,
#signup-form{
  padding: 2.5em;
  display: flex;
}

/* FORMS */

.form-control {
    margin: 1.5em;
    align-items: center;
}

.form-label {
    font-size: 0.8em;
    margin: 0.5rem 0;
    color: #8D8D8D;
}

.ui-mobile label {
   margin:0.4rem 0;
}

.form-input {
    display: inline-block;
    width: 100%;
    border-width: 0;
    background-color: #E6EDEE;
    font: inherit;
    padding: 0.8em 1em;
    outline: 0;
    border-radius: 4px;
    color: #212121;
}

.form-button,
.save-button,
.cancel-button
 {
  height: 40px;
  border-radius: 4px;
  display: inline-block;
  border-width: 0;
  outline: 0;
  margin: 0;
  color: #212121;
  padding: 0.8em 1em;
  text-align: center;
}

.form-button {
  background-color: #73C0C7;
   width: 100%;
}

.save-button {
  width: 47%;
  background-color: #73C0C7;
}


.cancel-button {
  width: 44%;
  background-color: #F9FAFA;
}

.signin-alt {
   text-align:center;
   font-size:0.8em;
}

.button-bar {
  padding-bottom: 12px;
  padding-left: 1.5em;
}



/* PAGE LAYOUTS */


.ui-mobile .ui-page-active {
   display:flex;
   flex-direction:column;
   position:fixed;
   top:0;
   left:0;
   width:100%;
   height:100%;
   overflow:auto;
}

[data-role='main'] {
   flex: 1 1 100%;
   overflow:hidden;
   position:relative;
}

[data-role='main'] h2 {
   flex: 1 1 100%;
   overflow:hidden;
   position:relative;
   text-align: center;
   margin-top: 20px;
   font color: #476c35;
}


/* Header Footer */

.ui-header,
.ui-footer {
   flex:none;
   line-height:var(--header-height);
   border-width:0;
   overflow:hidden;
   position: relative;
}

.ui-footer{
  padding-top: 0.8em;
  height: 64px;
  width: 90%;
  border-radius: 36px;
  background-color: #73C0C7;
  box-shadow: 0 24px 18px -8px rgba(95,139,145,0.47);
  margin: auto;
  margin-bottom: 16px;

}

.ui-header{
    background-color: #F3F2F7;
    height:78px;
}

.footer-icon{
   width: 30%;
   text-align: center;
}

.ui-header .ui-title {
  margin: 0;
  color: #212121;
  font-size: 32px;
  font-weight: bold;
  line-height: 0px;
  
  /*width: 100%;*/
  
  text-align: left;
  font-size: 1.6em;
  line-height: 2em;
}

.test{
  opacity: 10%;
}

.ui-header .ui-title {
    position:absolute;
    top: 0.2em;
    left: 1.5em;
    width:100%;
    text-align:center;
}

.ui-header ul,
.ui-footer ul {
  position:relative;
  display:flex;
  list-style-type:none;
  margin: 0em;
  padding:0;
  align-items: center;
}

.ui-footer li {
   flex: 1 1 auto;
   text-align:center;
}

.ui-header li{
  margin-top: 1.4em;
  color: #212121;
  font-family: "SF Pro Display";
  font-size: 32px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 0;
  padding-left: 0.8em;
}

/* User Profile */


.profile-image img {
    border-radius: 50%;
    width: calc(80vw - 4em);
    height: calc(80vw - 4em);
    object-fit: cover;
    margin: 2em;
}


.profile-body{
  padding: 1em;
  margin-bottom: 1em;
}

/* List page */

.overscroll {
   width: 100%;
   height: 100%;
   overflow: auto;
}

.list-add,
.list-select{
    position: relative;
    width: 1.5em;
    height: 1.5em;
}

.list-add i{
    position: absolute;
    width: 0.8em;
    height: 0.8em;
    background:url(../img/iconAnimalAdd.svg) no-repeat;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.list-select i{
    position: absolute;
    width: 1em;
    height: 1em;
    background:url(../img/iconAnimalSelect.svg) no-repeat;
    top: 50%;
    left: 10%;
    transform: translate(-50%, calc(-50% + 0.2em));
}


#list-page .overscroll ul{
    position: relative;
    width: 100%;
    height: auto;
    padding: 0 1em;
    margin-bottom: 2em;
    flex-flow: row wrap
}

#list-page .overscroll li{
    position: relative;
    width: 42%;
    height: 60vw;
    /*background-color: var(--color-neutral-light);*/
    margin-bottom: 1em;
/*    border-radius: 1.5em;*/
    overflow: hidden;
    text-align: left;
    font-size: 0.8em;
}

#list-page .overscroll li figure{
    margin-left: 0;
    width: 100%;
    height: auto;
    overflow: hidden;
    font-size: 0.8em; 
}

#list-page .overscroll li img{
    width: 100%;
    height: auto;
}

#list-page .overscroll li p{
  margin: 0 0;
  font-weight: 400;
  font-size: 0.8em;
  color: #212121;
  font-family: "SF Pro Display";
  letter-spacing: 0;
  text-align: center;
  border-radius: 13px;
  background-color: #A9DADE;
}




/* FLOATER */
.floater { position:absolute; }
.floater.right { right:1em; }
.floater.left { left:1em; }
.floater.top { top:1em; }
.floater.bottom { bottom:1em; }


/* Profile */


.setting-name {
  color: #212121;
  font-size: 32px;
  font-weight: 500;
  text-align: center;
  margin-top: .4em;

}

.setting-email {
  color: #212121;
  font-size: 18px;
  font-weight: 250;
  text-align: center;
  margin-bottom: 4em;
}


.setting-breed {
  color: #212121;
  font-size: 18px;
  font-weight: 250;
  text-align: center;
  margin-bottom: 1em;
}

.setting-note {
  color: #212121;
  font-size: 16px;
  font-weight: 250;
  text-align: center;
  margin-top: .4em;
  text-align: justify;
  padding:24px;
}

ul { 
margin: 0;
padding: 0;
   }


.setting {
  width: 100%;
  background-color: #E6EDEE;
  height: 44px;
  margin-top: 1em;
  list-style-type:none;
}

.setting-redtext { 
  color: #D90504;
  padding-top: 8px;
  padding-bottom: 8px;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 24px;
  text-align: center;
}


.setting-blacktext { 
  padding-top: 8px;
  padding-bottom: 8px;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 24px;
  text-align: center;
}

.profile-flow {
  position: relative;
}

.map-container{
  width: 320px;
  margin: auto;
  margin-bottom: 18px;
  border-radius: 3em;
}



/* MODALS */
.modal {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    transition: all 0.3s;
    opacity: 0;
    pointer-events: none;
    z-index: 10;
}
.modal.active {
   opacity:1;
}
.modal-back {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color:rgba(0,0,0,0.7);
}

.modal.active .modal-back,
.modal.active .modal-card{
  pointer-events: initial;
}

.modal-popup{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}


.modal-card {
  box-sizing: border-box;
  height: auto;
  width: 340px;
  border: 1px solid rgba(32,53,128,0.16);
  border-radius: 10px; 
  background-color: #FFFFFF;
}

.modal-head {
  width: auto;
  background-color: #73C0C7;
  border: 1px solid rgba(32,53,128,0.16);
  border-radius: 10px 10px 0 0; 
  padding: 1em;
}

.modal-body {

  padding: 1em;
}

.modal-foot {

  padding: 1em;
}


/* MODAL TOAST */
.modal-toast {
   position: absolute;
   width: 70%;
   background-color: #FEC624;
   box-shadow: 1px 1px 5px rgba(0,0,0,0.15);
   border-radius: 0.2em;
   padding: 1em;
   text-align: center;
   left: 50%;
   transition: all 0.3s;
}
.modal-toast.top {
   top:1em;
   transform: translate(-50%,-1em);
}
.modal-toast.bottom {
   bottom:1em;
   transform: translate(-50%,1em);
}
.modal.active .modal-toast {
   transform: translate(-50%,0);
   pointer-events: initial;
}










